/* Global Style */

* {
  box-sizing: border-box;
}

.container {
  width: 95%;
  margin: 0 auto;
  max-width: 769px;
}

body {
  margin: 0;
  padding-bottom: 100px;
  font-family: "Source Sans pro", sans-serif;
  color: #4A4A4A;
  text-align: center;
}

input,
select,
textarea,
button {
  outline: 0;
}

/* Header Styles */

.header-message {
  border-bottom: 2px solid #464159;
}

hr {
  border: 3.5px solid #464159;
  margin: 45px 0 3px;
}

h1 {
  background: #464159;
  margin: 0 0 35px;
  padding: 24px;
  font-family: 'Playfair Display', serif;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.7em;
}

h2 {
  font-weight: 700;
  font-size: 1.4em;
}

/* FORM STYLES */
/* Form Contact Info Styles */

form {
  padding: 30px 0;
  text-align: left;
}

legend {
  font-weight: 700;
  font-size: 1.2em;
  padding: 0 0 20px;
}

fieldset {
  border: none;
  padding: 0;
  margin: 0 0 30px;
}

.contact-info label,
input[type="text"],
input[type="email"],
select,
.newsletter-label,
.newsletter-checkbox,
.newsletter-radio,
textarea {
  width: 100%;
  margin: 10px 0 25px;
  font-size: 1em;
  display: block;
}

input[type="text"],
input[type="email"],
select,
textarea {
  background: #eff0f1;
  color: #4A4A4A;
  border-radius: 5px;
  border: none;
  padding-left: 15px;
}

input[type="text"],
input[type="email"],
select {
  height: 55px;
}

input::placeholder {
  text-align: right;
  padding-right: 20px;
  font-style: italic;
  color: #adb2b7;
}

input[name="user-zip"] {
  display: inline-block;
  max-width: 45%;
}

.contact-info {
  border-bottom: 2px solid #464159;
  padding-bottom: 30px;
}

input,
textarea,
select {
  transition: background .6s ease-out;
}

input:focus,
textarea:focus,
select:focus {
  background: #fef6fb;
  color: #464159;
  border: 2px solid #464159;
}

/* Form Newsletter Styles */

.newsletter {
  margin-bottom: 10px;
}

.newsletter-radio label,
.newsletter-checkbox label {
  margin-left: 10px;
}

textarea {
  height: 180px;
  resize: none;
  padding-top: 15px;
}

textarea::placeholder {
  color: #adb2b7;
}

label[for="comments"] {
  margin-top: 30px;
}

button[type="submit"] {
  background: #464159;
  padding: 20px 0;
  width: 100%;
  font-size: 1.4em;
  font-weight: 700;
  font-family: "Source Sans pro", sans-serif;
  color: #fff;
  letter-spacing: 2px;
  border-radius: 5px;
  cursor: pointer;
}

.footer {
  margin: 0 0 20px;
  font-style: italic;
  font-size: .875em;
}

/* MEDIA QUERIES */

@media screen and (min-width: 768px) {

  .contact-info legend {
    margin-bottom: 20px;
  }

  .contact-row {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
  }

  .contact-row-items {
    flex: 1;
  }

  .contact-row-items:last-child {
    flex: 3;
  }

  .contact-info label {
    width: 25%;
  }

  #zip {
    max-width: 250px;
  }

  input[type="text"],
  input[type="email"],
  .contact-info label {
    margin: 0 0 20px;
  }
}
